.header {
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.header img {
  height: 2.4rem;
}

.headerText {
  color: var(--orange-700);
  font-size: 2rem;
  padding: 0.1rem 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 5px var(--white),
               0 0 10px var(--white),
               0 0 20px var(--orange-500),
               0 0 30px var(--orange-500),
               0 0 40px var(--orange-500),
               0 0 55px var(--orange-500),
               0 0 70px var(--orange-500);
}
